.contacts {
  scroll-margin-top: 100px;
}

.contacts__title {
  color: rgb(249, 115, 22);
}

.contacts__form {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}

.contacts__form {
  max-width: 43.75rem;
  margin: 0 auto;
}

.contacts__form-block {
  display: flex;
  flex-direction: column;
}

.contacts__form-label {
  color: rgb(249, 115, 22);
  margin-bottom: 0.9375rem;
  font-size: 1.25rem;
}

.contacts__form-input {
  background-color: rgb(255 255 255 / 0.05);
  border-radius: 1.5625rem;
  padding: 1.25rem 0.625rem;
  color: var(--whiteColor);
  font-size: 1.125rem;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  &:focus {
    border-color: rgb(249, 115, 22);
  }
}

.contacts__form-area {
  background-color: rgb(255 255 255 / 0.05);
  border-radius: 0.9375rem;
  min-height: 18.75rem;
  resize: none;
  color: var(--whiteColor);
  font-size: 1.125rem;
  padding: 1.25rem;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  &:focus {
    border-color: rgb(249, 115, 22);
  }
}

.contacts__form-button {
  background-color: rgb(249, 115, 22);
  color: var(--whiteColor);
  font-size: 1.25rem;
  border-radius: 0.9375rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.9375rem 1.25rem;
  width: 40%;
  margin: 1.875rem auto 0;
  text-align: center;
  transition: all 0.4s ease;
  will-change: transform;
  &:hover {
    transform: scale(1.1);
    background-color: rgb(132, 58, 4);
  }
  @media (max-width: 400px) {
    font-size: 15px;
    width: 60%;
  }
}

.contacts__messages {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.contacts__messages-success {
  color: rgb(255, 170, 0);
  font-size: 30px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.contacts__messages-error {
  color: red;
  font-size: 20px;
}
